<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
  
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!--
    <a class="navbar-brand wow fadeInDownBig" href="{{site.baseurl}}index.html"><img class="office-logo" src="../assets/img/slider/Office.png" alt="Office"></a>      
  
  -->
  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li class="active">
        <a href="{{site.baseurl}}/">首頁</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/about.html">關於元氣</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/blog.html">元氣大世紀</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/team.html">團隊成員</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/contact.html"><span>聯絡我們</span></a>
      </li>
    </ul>         
  </div>
  </div>
</nav>

<!-- End Header -->